<header class="header">
  <div class="logo">
    <a routerLink="/">
      <img src="assets/images/logo.png" alt="Logo thương hiệu" />
    </a>
  </div>
  <nav class="navbar">
    <a routerLink="/" class="nav-link" routerLinkActive="active">Trang chủ</a>
    <a routerLink="/books" class="nav-link" routerLinkActive="active">Sách</a>
    <a routerLink="/cart" class="nav-link" routerLinkActive="active"
      >Giỏ hàng</a
    >
    <a routerLink="/account" class="nav-link" routerLinkActive="active"
      >Tài khoản</a
    >
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>
