<div class="banner-container">
    <button class="prev" (click)="prevSlide()">&#10094;</button>
    
    <div class="slide">
      <img [src]="images[currentIndex]" alt="Banner Image" class="banner-image">
    </div>
    
    <button class="next" (click)="nextSlide()">&#10095;</button>
    
    <!-- Chấm nhỏ dưới banner -->
    <div class="dots">
      <span *ngFor="let img of images; let i = index" 
            class="dot" 
            [class.active]="i === currentIndex"
            (click)="currentIndex = i"></span>
    </div>
  </div>
  